# Build directories
build/
out/
cmake-build-*/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
x64/
x86/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/

# Visual Studio CMake
CMakeSettings.json

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
install_manifest.txt
CTestTestfile.cmake

# Compiled binaries
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.o

# FetchContent downloads
_deps/

# OS
Thumbs.db
desktop.ini
.DS_Store
